@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-ThinItalic.otf);
  font-weight: 100;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-BookItalic.otf);
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-MediumItalic.otf);
  font-weight: 500;
  font-style:italic;
}

@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-BoldItalic.otf);
  font-weight: 700;
  font-style:italic;
}